.basicMenuAvatar {
  cursor: pointer;
  border: 1px solid #000000;
}

.basicMenuAvatar:hover {
    cursor: pointer;
    border: 1px solid #000000;
}


.navbarLeft {
  margin-left: 30px;
}
.navbarRight {
  margin-right: 40px;
}
@media screen and (max-width: 600px) {
  .navbarLeft {
    margin-left: 0px;
  }
  .navbarRight {
    margin-right: 0px;
  }
  .readButton {
    display: none;
  }
}